@{
    ViewBag.Title = "Página Inicial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <br />
    <div class="jumbotron" style="background-color:transparent">
        <div class="container">
            <h2 style="color:#1B81A2;">Conciliação Bancária</h2>
            <h1 style="color:#23A4CE;"><b>simples e eficiente</b></h1>

            <h4><small>Comece agora a importar os seus arquivos de conciliação bancária de forma simples e rápida.</small></h4>

            <p><a class="btn btn-success btn-lg text-right" href="/Home/NewImport" role="button" style="width:250px;">Quero experimentar</a></p>
        </div>
    </div>
</div>

