@{
    ViewBag.Title = "Importação de Arquivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger" role="alert">
            <p>@ViewBag.Error</p>
        </div>
    }
    else if (ViewBag.Message != null)
    {
        <div class="alert alert-success" role="alert">
            <p>@ViewBag.Message</p>
        </div>
    }
    <h2>Importação de Arquivos</h2>
    <hr />
    <div class="text-left">
        <div class="panel-body">
            @model BankingConciliation.Web.Models.NewFileImport
            @using (Html.BeginForm("FileImport", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <label>Selecionar arquivos:</label>
                <input type="file" id="url" name="ofxFiles" accept=".ofx" multiple />
                <br />
                <br />
                <input type="submit" id="btnImport" value="Importar" data-loading-text="Aguarde..." class="btn btn-primary" />
            }
        </div>
    </div>
</div>



